<html ng-app="scribe" >
   <head>
     <title>{{ user }}'s Scribe</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/scribe.css') }}">
     <script src="/static/js/angular.min.js"></script>
     <script  src="{{ url_for('static', filename='js/scctl/handlers.js' ) }}" ></script>

   </head>
   <body ng-controller="scctl">
     <h2>Scribe<img src="{{ url_for('static', filename='icon.png') }}" width="64"/></h2>
     Upload an audio file for transcription:<br/>
     <table width="75%" border="0" >
       <tr>
	 <td>
	   <form action="/transcribe" method="POST" enctype="multipart/form-data" > 
             <input type="file" name="file" accept="audio/*" /> Label for this file: <input type="text" name="label"></input>
             <input type="submit" name='x' value="tranScribe" />
	   </form>
	 </td>
	 <td width="32">
	   <img class="decor" src="{{ url_for('static', filename='reload.png') }}" width="32" ng-click="loadSection('files')" />
	 </td>
       </tr>
       </table>
     <div id="files" ng-init="loadSection('files')"></div>

   </body>

</html>
