
.info table {
  border-collapse: collapse;
}

.info th {
    background: #ff4411;
    color: #ffffff;
}

.info th, td {
  border: 1px solid #ffffff;
  padding: 8px;
}

.info tr:nth-child(even) {
  background: #efefef;
}

.info tr:hover {
  background: #d1d1d1;
}

.info tr:hover {
  background: #d1d1d1;
}


h2 {
    color: #ff4411; font-size: 40px;
    font-family: "Lucida Console", Monaco, monospace;
    padding-bottom:6px;
}


a { color: #ff4411; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; }


a:hover {
    color: #a03c21
}

body {
    font-family: Verdana, Geneva, sans-serif
}

/*img {
*    border:solid 1px red; margin:10px;
*}
*/

.decor:hover{
    background-color:#CCCCCC;
    border: 1px solid #a03c21;
}

